<h1>Trails</h1>

	
	<button onclick="window.location.reload()">get trails</button><br>
		{{#if location}}
			{{#each trails.places}}
			Name: {{name}} <br>
			Directions: {{directions}} <br><br>
			{{/each}}
		{{/if}}


